---
# Ansible tasks to demonstrate Backup and Restore Scenario for VMs in OpenShift Virtualization using Trident protect
# Note: This playbook assumes that Trident and Trident protect are already installed and configured in your OpenShift cluster and that the common tasks in roles/trident-protect/trident-protect-common have been executed to configure the prerequisites like AppVault and Application.

# Create on-demand backup of specific VMs in a namespace by using corresponding application
- name: Create on-demand backup of specific VMs by using corresponding application {{ application_name }} in {{ vm_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    namespace: "{{ vm_namespace }}"
    definition:
      apiVersion: protect.trident.netapp.io/v1
      kind: Backup
      metadata:
        name: "{{ on_demand_backup_name }}"
        annotations:
          protect.trident.netapp.io/full-backup: "true"
      spec:
        applicationRef: "{{ application_name }}"
        appVaultRef: "{{ appvault_name }}"
  when: on_demand_backup_name is defined and on_demand_backup_name != ""
  tags:
    - tp_create_ondemand_backup

# Wait for the backup to complete
# Note: Adjust retries and delay as needed based on expected backup duration
- name: Wait for the backup to complete
  kubernetes.core.k8s_info:
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    api_version: protect.trident.netapp.io/v1
    namespace: "{{ vm_namespace }}"
    kind: Backup
    name: "{{ on_demand_backup_name }}"
  register: backup_info
  until: 
    - backup_info.resources | length > 0
    - backup_info.resources[0].status is defined
    - backup_info.resources[0].status.state is defined
    - backup_info.resources[0].status.state == "Completed"
  retries: 10
  delay: 30
  when: on_demand_backup_name is defined and on_demand_backup_name != ""
  tags:
    - tp_wait_for_backup_completion

# Verify that the backup was created successfully
- name: Verify that the backup {{ on_demand_backup_name }} was created successfully
  kubernetes.core.k8s_info:
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    api_version: protect.trident.netapp.io/v1
    kind: Backup
    namespace: "{{ vm_namespace }}"
    name: "{{ on_demand_backup_name }}"
  register: backup_output
  when: on_demand_backup_name is defined and on_demand_backup_name != ""
  tags:
    - tp_verify_backup

- name: Display backup details
  ansible.builtin.debug:
    var: backup_output.resources[0]
  when: backup_output.resources | length > 0
  tags:
    - tp_verify_backup

# Create a new namespace for restoration
- name: Create a new {{ restore_namespace }} namespace to which you want to restore the VMs
  kubernetes.core.k8s:
    state: present
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ restore_namespace }}"
  when: restore_namespace is defined and restore_namespace != ""
  tags:
    - tp_create_restore_namespace

# Create a BackupRestore object to restore the VMs from the on-demand backup to a different namespace
- name: Create a BackupRestore object to restore the VMs from the on-demand backup to {{ restore_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    namespace: "{{ restore_namespace }}"
    definition:
      apiVersion: protect.trident.netapp.io/v1
      kind: BackupRestore
      metadata:
        name: "{{ backup_restore_name }}"
      spec:
        appVaultRef: "{{ appvault_name }}"
        appArchivePath: "{{ backup_output.resources[0].status.appArchivePath }}"
        backupRef: "{{ on_demand_backup_name }}"
        namespaceMapping: [{"source": "{{ vm_namespace }}", "destination": "{{ restore_namespace }}"}]
  when: backup_restore_name is defined and backup_restore_name != ""
  tags:
    - tp_create_backuprestore

# Wait for the restore to complete
- name: Wait for the restore to complete
  kubernetes.core.k8s_info:
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    api_version: protect.trident.netapp.io/v1
    namespace: "{{ restore_namespace }}"
    kind: BackupRestore
    name: "{{ backup_restore_name }}"
  register: restore_info
  until:
    - restore_info.resources | length > 0
    - restore_info.resources[0].status is defined
    - restore_info.resources[0].status.state is defined
    - restore_info.resources[0].status.state == "Completed"
  retries: 30
  delay: 30
  when: backup_restore_name is defined and backup_restore_name != ""
  tags:
    - tp_wait_for_backuprestore_completion

# Verify that the BackupRestore object was created successfully
- name: Verify that the BackupRestore {{ backup_restore_name }} was created successfully
  kubernetes.core.k8s_info:
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    api_version: protect.trident.netapp.io/v1
    kind: BackupRestore
    namespace: "{{ restore_namespace }}"
    name: "{{ backup_restore_name }}"
  register: backuprestore_output
  when: backup_restore_name is defined and backup_restore_name != ""
  tags:
    - tp_verify_backuprestore

- name: Display BackupRestore details
  ansible.builtin.debug:
    var: backuprestore_output.resources[0]
  when: backuprestore_output.resources | length > 0
  tags:
    - tp_verify_backuprestore

# Verify that the VMs have been restored successfully to the new namespace
- name: Verify VMs restored to {{ restore_namespace }} namespace
  kubernetes.core.k8s_info:
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    namespace: "{{ restore_namespace }}"
  register: restored_vms_info
  tags:
    - tp_verify_backuprestore_vms
    - tp_verify_backuprestore_all

# Verify that the PVCs have been restored successfully to the new namespace
- name: Verify PVCs restored to {{ restore_namespace }} namespace
  kubernetes.core.k8s_info:
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    api_version: v1
    kind: PersistentVolumeClaim
    namespace: "{{ restore_namespace }}"
  register: restored_pvcs_info
  tags:
    - tp_verify_backuprestore_pvcs
    - tp_verify_backuprestore_all

- name: Show restored VM details in {{ restore_namespace }} namespace
  ansible.builtin.debug:
    msg: "{{ item.metadata.name }}"
  loop: "{{ restored_vms_info.resources }}"
  when: restored_vms_info.resources | length > 0
  tags:
    - tp_verify_backuprestore_vms
    - tp_verify_backuprestore_all

- name: Show restored PVC details in {{ restore_namespace }} namespace
  ansible.builtin.debug:
    msg: "{{ item.metadata.name }}"
  loop: "{{ restored_pvcs_info.resources }}"
  when: restored_pvcs_info.resources | length > 0
  tags:
    - tp_verify_backuprestore_pvcs
    - tp_verify_backuprestore_all

# Assert all VMs and PVCs restored successfully
- name: Assert all VMs and PVCs restored in {{ restore_namespace }} namespace successfully
  ansible.builtin.assert:
    that:
      - "vm_list | difference(restored_vms_info.resources | map(attribute='metadata.name') | list) | length == 0"
      - "pvc_list | difference(restored_pvcs_info.resources | map(attribute='metadata.name') | list) | length == 0"
    fail_msg: "Some VMs or PVCs are missing in the restore namespace {{ restore_namespace }}"
  when:
    - restored_vms_info.resources is defined
    - restored_pvcs_info.resources is defined
  tags:
    - tp_verify_backuprestore_all

# End of Backup and Restore Scenario tasks