---
# Ansible tasks to create Snapshot schedules for VMs in OpenShift Virtualization using Trident protect

# Create snapshot schedule for specific VMs in a namespace by using corresponding application
- name: Create snapshot schedule for specific VMs in {{ vm_namespace }} namespace by using corresponding application {{ application_name }}
  kubernetes.core.k8s:
    state: present
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
    namespace: "{{ vm_namespace }}"
    definition:
      apiVersion: protect.trident.netapp.io/v1
      kind: Schedule
      metadata:
        name: "{{ snapshot_schedule_name }}"
      spec:
        applicationRef: "{{ application_name }}"
        appVaultRef: "{{ appvault_name }}"
        enabled: true
        granularity: "{{ snapshot_granularity }}"
        hour: "{{ snapshot_hour | string }}"
        dayOfMonth: "{{ snapshot_day_of_month | string }}"
        dayOfWeek: "{{ snapshot_day_of_week | string }}"
        minute: "{{ snapshot_minute | string }}"
        snapshotRetention: "{{ snapshot_retention_count | string }}"
        backupRetention: "0"
  when:
    - snapshot_schedule_name is defined
    - application_name is defined and appvault_name is defined and vm_namespace is defined
  tags:
    - tp_create_snapshot_schedule

# Verify the newly created snapshot schedule is in place
- name: Get snapshot schedule {{ snapshot_schedule_name }} from {{ vm_namespace }} namespace
  kubernetes.core.k8s_info:
    api_version: protect.trident.netapp.io/v1
    kind: Schedule
    name: "{{ snapshot_schedule_name }}"
    namespace: "{{ vm_namespace }}"
    host: "{{ oc_api_url }}"
    api_key: "{{ oc_api_token }}"
    validate_certs: false
  register: schedule_output
  when: snapshot_schedule_name is defined
  tags:
    - tp_verify_snapshot_schedule

- name: Verify that the snapshot schedule {{ snapshot_schedule_name }} was created successfully in {{ vm_namespace }} namespace
  ansible.builtin.debug:
    msg: "{{ schedule_output.resources[0] }}"
  when: snapshot_schedule_name is defined and schedule_output is defined and schedule_output.resources | length > 0
  tags:
    - tp_verify_snapshot_schedule