# Create Kubernetes Objects like StorageClasses, PersistentVolumeClaims (PVCs), VolumeSnapshots etc.

# Create NFS storage class with specified volume binding mode
- name: Create NFS storage class with {{ nfs_specs.sc_volume_binding_mode }} volume binding mode
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ nfs_specs.sc_name }}"
      provisioner: csi.trident.netapp.io
      parameters:
        backendType: "ontap-nas"
        provisioningType: "thin"
        snapshots: "true"
      allowVolumeExpansion: true
      reclaimPolicy: "{{ nfs_specs.sc_reclaim_policy | default('Retain') }}"
      volumeBindingMode: "{{ nfs_specs.sc_volume_binding_mode }}"
      mountOptions:
        - nfsvers="{{ nfs_specs.nfs_version }}"
  when:
    - configure_nfs == true
    - nfs_specs is defined
    - nfs_specs.sc_name is defined and nfs_specs.sc_name != ""
  tags:
    - k8s_create_nfs_storage_class

# Create NFS FlexGroup storage class with specified volume binding mode
- name: Create NFS FlexGroup storage class with {{ nfs_flexgroup_specs.sc_volume_binding_mode }} volume binding mode
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ nfs_flexgroup_specs.sc_name }}"
      provisioner: csi.trident.netapp.io
      parameters:
        backendType: "ontap-nas-flexgroup"
        provisioningType: "thin"
        snapshots: "true"
      allowVolumeExpansion: true
      reclaimPolicy: "{{ nfs_flexgroup_specs.sc_reclaim_policy | default('Retain') }}"
      volumeBindingMode: "{{ nfs_flexgroup_specs.sc_volume_binding_mode }}"
      mountOptions:
        - nfsvers="{{ nfs_flexgroup_specs.nfs_version }}"
  when:
    - configure_nfs_flexgroup == true
    - nfs_flexgroup_specs is defined 
    - nfs_flexgroup_specs.sc_name is defined and nfs_flexgroup_specs.sc_name != ""
  tags:
    - k8s_create_nfs_flexgroup_storage_class

# Create iSCSI storage class with specified volume binding mode
- name: Create iSCSI storage class with {{ iscsi_specs.sc_volume_binding_mode }} volume binding mode
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ iscsi_specs.sc_name }}"
      provisioner: csi.trident.netapp.io
      parameters:
        backendType: "ontap-san"
        sanType: "iscsi"
        provisioningType: "thin"
        snapshots: "true"
      allowVolumeExpansion: true
      reclaimPolicy: "{{ iscsi_specs.sc_reclaim_policy | default('Retain') }}"
      volumeBindingMode: "{{ iscsi_specs.sc_volume_binding_mode }}"
  when:
    - configure_iscsi == true
    - iscsi_specs is defined 
    - iscsi_specs.sc_name is defined and iscsi_specs.sc_name != ""
  tags:
    - k8s_create_iscsi_storage_class

# Create NVMe/TCP storage class with specified volume binding mode
- name: Create NVMe/TCP storage class with {{ nvme_tcp_specs.sc_volume_binding_mode }} volume binding mode
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ nvme_tcp_specs.sc_name }}"
      provisioner: csi.trident.netapp.io
      parameters:
        backendType: "ontap-san"
        sanType: "nvme"
        provisioningType: "thin"
        snapshots: "true"
      allowVolumeExpansion: true
      reclaimPolicy: "{{ nvme_tcp_specs.sc_reclaim_policy | default('Retain') }}"
      volumeBindingMode: "{{ nvme_tcp_specs.sc_volume_binding_mode }}"
  when: 
    - configure_nvme_tcp == true
    - nvme_tcp_specs is defined 
    - nvme_tcp_specs.sc_name is defined and nvme_tcp_specs.sc_name != ""
  tags:
    - k8s_create_nvme_tcp_storage_class

# Create FC storage class with specified volume binding mode
- name: Create FC storage class with {{ fc_specs.sc_volume_binding_mode }} volume binding mode
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ fc_specs.sc_name }}"
      provisioner: csi.trident.netapp.io
      parameters:
        backendType: "ontap-san"
        sanType: "fc"
        provisioningType: "thin"
        snapshots: "true"
      allowVolumeExpansion: true
      reclaimPolicy: "{{ fc_specs.sc_reclaim_policy | default('Retain') }}"
      volumeBindingMode: "{{ fc_specs.sc_volume_binding_mode }}"
  when: 
    - configure_fc == true
    - fc_specs is defined 
    - fc_specs.sc_name is defined and fc_specs.sc_name != ""
  tags:
    - k8s_create_fc_storage_class

# Set one of the created storage classes as the default storage class
- name: Set {{ default_sc }} as the default storage class
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    kind: StorageClass
    api_version: storage.k8s.io/v1
    name: "{{ default_sc }}"
    merge_type: strategic-merge
    definition:
      metadata:
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
  when: 
    - default_sc is defined and default_sc != ""
    - configure_nfs or configure_nfs_flexgroup or configure_iscsi or configure_nvme_tcp or configure_fc
  tags:
    - k8s_set_default_storage_class

# Create a new project/namespace for creating PVCs
- name: Create a new project/namespace for creating PVCs
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ pvc_namespace }}"
  when:
    - configure_nfs or configure_nfs_flexgroup or configure_iscsi or configure_nvme_tcp or configure_fc
    - pvc_namespace is defined and pvc_namespace != ""
  tags:
    - k8s_create_pvc_namespace

# Create PVCs with NFS storage class in the specified namespace
- name: Create PVCs with NFS storage class in the {{ pvc_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: "{{ pvc_namespace }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ item.pvc_name }}"
      spec:
        accessModes: "{{ item.access_modes }}"
        resources:
          requests:
            storage: "{{ item.pvc_size }}"
        storageClassName: "{{ nfs_specs.sc_name }}"
        volumeMode: Filesystem
  loop: "{{ nfs_specs.pvc_info }}"
  when: 
    - configure_nfs == true
    - pvc_namespace is defined and pvc_namespace != ""
    - item is defined and item.pvc_name is defined and item.pvc_name != ""
  tags:
    - k8s_create_nfs_pvcs

# Create PVCs with NFS FlexGroup storage class in the specified namespace
- name: Create PVCs with NFS FlexGroup storage class in the {{ pvc_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: "{{ pvc_namespace }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ item.pvc_name }}"
      spec:
        accessModes: "{{ item.access_modes }}"
        resources:
          requests:
            storage: "{{ item.pvc_size }}"
        storageClassName: "{{ nfs_flexgroup_specs.sc_name }}"
        volumeMode: Filesystem
  loop: "{{ nfs_flexgroup_specs.pvc_info }}"
  when: 
    - configure_nfs_flexgroup == true
    - pvc_namespace is defined and pvc_namespace != ""
    - item is defined and item.pvc_name is defined and item.pvc_name != ""
  tags:
    - k8s_create_nfs_flexgroup_pvcs

# Create PVCs with iSCSI storage class in the specified namespace
- name: Create PVCs with iSCSI storage class in the {{ pvc_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: "{{ pvc_namespace }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ item.pvc_name }}"
      spec:
        accessModes: "{{ item.access_modes }}"
        resources:
          requests:
            storage: "{{ item.pvc_size }}"
        storageClassName: "{{ iscsi_specs.sc_name }}"
        volumeMode: "{{ item.volume_mode | default('Filesystem') }}"
  loop: "{{ iscsi_specs.pvc_info }}"
  when: 
    - configure_iscsi == true
    - pvc_namespace is defined and pvc_namespace != ""
    - item is defined and item.pvc_name is defined and item.pvc_name != ""
  tags:
    - k8s_create_iscsi_pvcs

# Create PVCs with NVMe/TCP storage class in the specified namespace
- name: Create PVCs with NVMe/TCP storage class in the {{ pvc_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: "{{ pvc_namespace }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ item.pvc_name }}"
      spec:
        accessModes: "{{ item.access_modes }}"
        resources:
          requests:
            storage: "{{ item.pvc_size }}"
        storageClassName: "{{ nvme_tcp_specs.sc_name }}"
        volumeMode: "{{ item.volume_mode | default('Filesystem') }}"
  loop: "{{ nvme_tcp_specs.pvc_info }}"
  when: 
    - configure_nvme_tcp == true
    - pvc_namespace is defined and pvc_namespace != ""
    - item is defined and item.pvc_name is defined and item.pvc_name != ""
  tags:
    - k8s_create_nvme_tcp_pvcs

# Create PVCs with FC storage class in the specified namespace
- name: Create PVCs with FC storage class in the {{ pvc_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: "{{ pvc_namespace }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ item.pvc_name }}"
      spec:
        accessModes: "{{ item.access_modes }}"
        resources:
          requests:
            storage: "{{ item.pvc_size }}"
        storageClassName: "{{ fc_specs.sc_name }}"
        volumeMode: "{{ item.volume_mode | default('Filesystem') }}"
  loop: "{{ fc_specs.pvc_info }}"
  when: 
    - configure_fc == true
    - pvc_namespace is defined and pvc_namespace != ""
    - item is defined and item.pvc_name is defined and item.pvc_name != ""
  tags:
    - k8s_create_fc_pvcs

# Create VolumeSnapshotClass for snapshot operations
- name: Create VolumeSnapshotClass for snapshot operations
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: snapshot.storage.k8s.io/v1
      kind: VolumeSnapshotClass
      metadata:
        name: "{{ vol_snapshot_class_specs.name }}"
      driver: csi.trident.netapp.io
      deletionPolicy: "{{ vol_snapshot_class_specs.deletion_policy | default('Delete') }}"
  when:
    - vol_snapshot_class_specs is defined
    - vol_snapshot_class_specs.name is defined and vol_snapshot_class_specs.name != ""
  tags:
    - k8s_create_volume_snapshot_class
  
  # Below tasks are for creating VolumeSnapshots from the PVCs created above.
  # Create VolumeSnapshots from the specified PVCs in the given namespace
- name: Create VolumeSnapshots from the specified PVCs in the {{ pvc_namespace }} namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    namespace: "{{ pvc_namespace }}"
    definition:
      apiVersion: snapshot.storage.k8s.io/v1
      kind: VolumeSnapshot
      metadata:
        name: "{{ item.snapshot_name }}"
      spec:
        volumeSnapshotClassName: "{{ vol_snapshot_class_specs.name }}"
        source:
          persistentVolumeClaimName: "{{ item.pvc_name }}"
  loop: "{{ volume_snapshot_specs }}"
  when: 
    - (configure_nfs and nfs_specs is defined and nfs_specs.pvc_info is defined) or
      (configure_iscsi and iscsi_specs is defined and iscsi_specs.pvc_info is defined) or
      (configure_nvme_tcp and nvme_tcp_specs is defined and nvme_tcp_specs.pvc_info is defined) or
      (configure_fc and fc_specs is defined and fc_specs.pvc_info is defined)
    - pvc_namespace is defined and pvc_namespace != ""
    - vol_snapshot_class_specs is defined
    - vol_snapshot_class_specs.name is defined and vol_snapshot_class_specs.name != ""
    - item is defined and item.snapshot_name is defined and item.snapshot_name != ""
  tags:
    - k8s_create_volume_snapshots