---
# Ansible tasks for VM replication using NetApp SnapMirror and Trident protect in OpenShift Virtualization environment.
# The below tasks are executed on the destination OpenShift cluster. Ensure that you have access to the destination cluster before running these tasks.

# On the destination OpenShift cluster, create a new namespace for destination VMs if it does not exist
- name: Create destination namespace {{ dst_vm_namespace }} on the destination OpenShift cluster
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ dst_kubeconfig_path }}"
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ dst_vm_namespace }}"
  when: dst_vm_namespace is defined
  tags:
    - dst_namespace_create

# Preflight check for source ONTAP S3 credentials and AppVault related variables
- name: Preflight check for source ONTAP S3 credentials and AppVault related variables
  ansible.builtin.assert:
    that:
      - src_ontap_s3_specs is defined
      - src_ontap_s3_specs.secret_name is defined
      - src_ontap_s3_specs.access_key is defined and not src_ontap_s3_specs.access_key == ""
      - src_ontap_s3_specs.secret_key is defined and not src_ontap_s3_specs.secret_key == ""
      - src_ontap_s3_specs.s3_bucket_name is defined
      - src_ontap_s3_specs.s3_endpoint is defined
      - src_appvault_name is defined
    fail_msg: "Source ONTAP S3 credentials and AppVault related variables are not properly defined. Check vars/trident_protect_main.yml"
    success_msg: "Source ONTAP S3 credentials and AppVault related variables validated successfully"
  tags:
    - dst_preflight
    - dst_src_ontap_s3_secret_create
    - dst_src_appvault_create

# Create Kubernetes Secret to store source ONTAP S3 credentials on the destination OpenShift cluster
- name: Create Kubernetes Secret to store source ONTAP S3 credentials on the destination OpenShift cluster
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ dst_kubeconfig_path }}"
    namespace: trident-protect
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ src_ontap_s3_specs.secret_name }}"
      type: Opaque
      stringData:
        accessKeyID: "{{ src_ontap_s3_specs.access_key }}"
        secretAccessKey: "{{ src_ontap_s3_specs.secret_key }}"
  tags:
    - dst_src_ontap_s3_secret_create

# On the destination OpenShift cluster, create a source application AppVault CR for VM replication
- name: Create source application AppVault for VM replication on the destination OpenShift cluster
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ dst_kubeconfig_path }}"
    namespace: trident-protect
    definition:
      apiVersion: protect.trident.netapp.io/v1
      kind: AppVault
      metadata:
        name: "{{ src_appvault_name }}"
      spec:
        providerType: "OntapS3"
        providerConfig:
          s3:
            bucketName: "{{ src_ontap_s3_specs.s3_bucket_name }}"
            endpoint: "{{ src_ontap_s3_specs.s3_endpoint }}"    # Provide LIF for S3 access
            secure: false
            skipCertValidation: true
        providerCredentials:
          accessKeyID:
            valueFromSecret:
              name: "{{ src_ontap_s3_specs.secret_name }}"
              key: accessKeyID
          secretAccessKey:
            valueFromSecret:
              name: "{{ src_ontap_s3_specs.secret_name }}"
              key: secretAccessKey
  tags:
    - dst_src_appvault_create

# View the source application AppVault details on the destination OpenShift cluster
- name: Execute tridentctl-protect get appvault command to verify source application AppVault creation on the destination OpenShift cluster
  ansible.builtin.command:
    cmd: tridentctl-protect get appvault "{{ src_appvault_name }}" -n trident-protect
  register: dst_src_appvault_info
  changed_when: false
  tags:
    - dst_src_appvault_view

# Display the source application AppVault details created on the destination OpenShift cluster
- name: Display source application AppVault information created in trident-protect namespace on the destination OpenShift cluster
  ansible.builtin.debug:
    msg: "{{ dst_src_appvault_info.stdout_lines }}"
  when: dst_src_appvault_info is defined
  tags:
    - dst_src_appvault_view

# Preflight check for destination ONTAP S3 credentials and AppVault related variables
- name: Preflight check for destination ONTAP S3 credentials and AppVault related variables
  ansible.builtin.assert:
    that:
      - dst_ontap_s3_specs is defined
      - dst_ontap_s3_specs.secret_name is defined
      - dst_ontap_s3_specs.access_key is defined and not dst_ontap_s3_specs.access_key == ""
      - dst_ontap_s3_specs.secret_key is defined and not dst_ontap_s3_specs.secret_key == ""
      - dst_ontap_s3_specs.s3_bucket_name is defined
      - dst_ontap_s3_specs.s3_endpoint is defined
      - dst_appvault_name is defined
    fail_msg: "Destination ONTAP S3 credentials and AppVault related variables are not properly defined. Check vars/trident_protect_main.yml"
    success_msg: "Destination ONTAP S3 credentials and AppVault related variables validated successfully"
  tags:
    - dst_preflight
    - dst_ontap_s3_secret_create
    - dst_appvault_create

# Create Kubernetes Secret to store destination ONTAP S3 credentials on the destination OpenShift cluster
- name: Create Kubernetes Secret to store destination ONTAP S3 credentials on the destination OpenShift cluster
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ dst_kubeconfig_path }}"
    namespace: trident-protect
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ dst_ontap_s3_specs.secret_name }}"
      type: Opaque
      stringData:
        accessKeyID: "{{ dst_ontap_s3_specs.access_key }}"
        secretAccessKey: "{{ dst_ontap_s3_specs.secret_key }}"
  tags:
    - dst_ontap_s3_secret_create

# Create a destination AppVault CR for the destination application on the destination OpenShift cluster
- name: Create a destination AppVault CR for the destination application on the destination OpenShift cluster
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ dst_kubeconfig_path }}"
    namespace: trident-protect
    definition:
      apiVersion: protect.trident.netapp.io/v1
      kind: AppVault
      metadata:
        name: "{{ dst_appvault_name }}"
      spec:
        providerType: "OntapS3"
        providerConfig:
          s3:
            bucketName: "{{ dst_ontap_s3_specs.s3_bucket_name }}"
            endpoint: "{{ dst_ontap_s3_specs.s3_endpoint }}"    # Provide LIF for S3 access
            secure: false
            skipCertValidation: true
        providerCredentials:
          accessKeyID:
            valueFromSecret:
              name: "{{ dst_ontap_s3_specs.secret_name }}"
              key: accessKeyID
          secretAccessKey:
            valueFromSecret:
              name: "{{ dst_ontap_s3_specs.secret_name }}"
              key: secretAccessKey
  tags:
    - dst_appvault_create

# View the destination application AppVault details on the destination OpenShift cluster
- name: Execute tridentctl-protect get appvault command to verify destination application AppVault creation on the destination OpenShift cluster
  ansible.builtin.command:
    cmd: tridentctl-protect get appvault "{{ dst_appvault_name }}" -n trident-protect
  register: dst_appvault_info
  changed_when: false
  tags:
    - dst_appvault_view

# Display the destination application AppVault details created on the destination OpenShift cluster
- name: Display destination application AppVault information created in trident-protect namespace on the destination OpenShift cluster
  ansible.builtin.debug:
    msg: "{{ dst_appvault_info.stdout_lines }}"
  when: dst_appvault_info is defined
  tags:
    - dst_appvault_view

# Preflight check for AppMirrorRelationship related variables
- name: Preflight check for AppMirrorRelationship related variables
  ansible.builtin.assert:
    that:
      - app_mirror_relationship_specs is defined
      - app_mirror_relationship_specs.name is defined
      - app_mirror_relationship_specs.storage_class is defined
      - app_mirror_relationship_specs.recurrence_rule is defined
      - app_mirror_relationship_specs.recurrence_rule.dtstart is defined and app_mirror_relationship_specs.recurrence_rule.rrule is defined
      - dst_vm_namespace is defined and src_vm_namespace is defined
      - src_appvault_name is defined and src_application_name is defined
      - dst_appvault_name is defined
    fail_msg: "AppMirrorRelationship related variables are not properly defined. Check vars/trident_protect_main.yml"
    success_msg: "AppMirrorRelationship related variables validated successfully"
  tags:
    - dst_preflight
    - dst_app_mirror_relationship_create

# On the destination OpenShift cluster, create an AppMirrorRelationship CR to replicate VMs from source to destination
- name: Create an AppMirrorRelationship CR to replicate VMs from source to destination on the destination OpenShift cluster
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ dst_kubeconfig_path }}"
    namespace: "{{ dst_vm_namespace }}"
    definition:
      apiVersion: protect.trident.netapp.io/v1
      kind: AppMirrorRelationship
      metadata:
        name: "{{ app_mirror_relationship_specs.name }}"
      spec:
        desiredState: "Established"
        destinationAppVaultRef: "{{ dst_appvault_name }}"
        sourceAppVaultRef: "{{ src_appvault_name }}"
        sourceApplicationName: "{{ src_application_name }}"
        storageClassName: "{{ app_mirror_relationship_specs.storage_class }}"
        namespaceMapping:
          - destination: "{{ dst_vm_namespace }}"
            source: "{{ src_vm_namespace }}"
        recurrenceRule: |-
          DTSTART:{{ app_mirror_relationship_specs.recurrence_rule.dtstart }}
          RRULE:{{ app_mirror_relationship_specs.recurrence_rule.rrule }}
  tags:
    - dst_app_mirror_relationship_create

# View the AppMirrorRelationship details on the destination OpenShift cluster
- name: Execute tridentctl-protect get appmirrorrelationship command to verify AppMirrorRelationship creation on the destination OpenShift cluster
  ansible.builtin.command:
    cmd: tridentctl-protect get appmirrorrelationship {{ app_mirror_relationship_specs.name }} -n "{{ dst_vm_namespace }}"
  register: dst_app_mirror_relationship_info
  changed_when: false
  tags:
    - dst_app_mirror_relationship_view

# Display the AppMirrorRelationship details created on the destination OpenShift cluster
- name: Display AppMirrorRelationship information created in {{ dst_vm_namespace }} namespace on the destination OpenShift cluster
  ansible.builtin.debug:
    msg: "{{ dst_app_mirror_relationship_info.stdout_lines }}"
  when: dst_app_mirror_relationship_info is defined
  tags:
    - dst_app_mirror_relationship_view